<div class="status-content">
  <h2>Task Status & Percentage</h2>
  <table>
    <thead>
      <td>Status</td>
      <td>Count</td>
      <td>Percentage</td>
    </thead>
    <tr>
      <td>Open</td>
      <td>{{ open }}</td>
      <td>{{ open ? ((open / total) * 100).toFixed(2) : 0 }} %</td>
    </tr>
    <tr>
      <td>Started</td>
      <td>{{ started }}</td>
      <td>{{ started ? ((started / total) * 100).toFixed(2) : 0 }} %</td>
    </tr>
    <tr>
      <td>In Progress</td>
      <td>{{ inprogress }}</td>
      <td>{{ inprogress ? ((inprogress / total) * 100).toFixed(2) : 0 }} %</td>
    </tr>
    <tr>
      <td>Complete</td>
      <td>{{ complete }}</td>
      <td>{{ complete ? ((complete / total) * 100).toFixed(2) : 0 }} %</td>
    </tr>
  </table>
</div>
